html, body{
	font-weight:14px;
	font-family: arial;
}
ul{
    list-style-type:none;
    padding:0px;
    margin:0px;
}
a{
    text-decoration:none;
}

.left {
    float:left;
}

.right{
    float:right;
}

.clear {
    clear:both;
}
.show{
	display:block;
}
.hide{
	display:none;
}
#search{
	overflow:hidden;
	border: 1px solid #E0D9D9;	
	border-radius: 4px;
	width:600px;
	margin-bottom:20px;
}

#search  input {
	width: 500px;
	height: 30px;
	padding: 0px 10px;
	border:none;
}

#search input:focus{
	border:none;
}

#search a {
	display:block;
	background-color: #00ADFF;
	color: #fff;
	width:80px;
	text-align: center;
	padding: 5px 0px;
}

#results .pageRow{
	overflow: hidden;
	margin-bottom:20px;
	font-size:14px;
	border: 1px solid #DBDBDB;
	width:600px;
}
#results .pageRow div{
	margin-bottom:5px;
}
.pageImg{
	margin-right:10px;
}

.pageName  {
	font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 0;
}

.pageCat{
	color: #4e5665;
}

.fade{
	opacity:0.5;
}

.error{
	font-weight:bold;
	font-size:12px;
	color: #ff0000;
}
.detailsContent{
	padding-left: 3px;
    padding-top: 10px;
}
.link{
	display:block;
}